.gpt3__brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 46px;
  margin-top: 119px;
  margin-bottom: 126px;
}

@media screen and (max-width: 650px) {
  .gpt3__brand {
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 80px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: flex-start;
  }
  .gpt3__brand img {
    width: 80%;
    height: 80%;
  }
}
